body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.simon-game {
  background-color: rgb(25, 25, 25);
  border-radius: 70%;
  position: relative;
  width: 400px;
  height: 400px;
  padding: 10px;
  border: 15px solid rgb(25, 25, 25);
}

.simon-button {
  position: absolute;
  width: 195px;
  height: 195px;
  cursor: pointer;
}

.simon-button:hover {
  background-color: aqua;
}

.green {
  background-color: green;
  top: 0;
  left: 0;
  border-radius: 250px 0 0 0;
  margin: 5px;
}

.red {
  background-color: red;
  top: 0;
  right: 0;
  border-radius: 0 250px 0 0;
  margin: 5px;
}

.yellow {
  background-color: yellow;
  bottom: 0;
  left: 0;
  border-radius: 0 0 0 250px;
  margin: 5px;
}

.blue {
  background-color: blue;
  bottom: 0;
  right: 0;
  border-radius: 0 0 250px 0;
  margin: 5px;
}

.simon-center {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 180px;
  height: 180px;
  background-color: black;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
}

@media (max-width: 600px) {
  .simon-game {
    width: 300px;
    height: 300px;
  }

  .simon-button {
    width: 140px;
    height: 140px;
  }

  .simon-center {
    width: 120px;
    height: 120px;
    font-size: 1.2em;
  }
}

@media (max-width: 400px) {
  .simon-game {
    width: 190px;
    height: 190px;
  }

  .simon-button {
    width: 90px;
    height: 90px;
  }

  .simon-center {
    width: 80px;
    height: 80px;
    font-size: 1em;
  }
}
